<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout :: layout">
  <head>
      <title>Pessoa</title>
    
  </head>
  <body>
    <div th:fragment="content" class="container">
        <form th:object="${pessoa}" th:action="@{/pessoa/alterar/{id}(id=${id})}" method="post">
            <div class="mb-3">
              <label for="carteira" class="form-label">Alteração de Informações</label>
              <input th:field="*{carteira}" type="text" class="form-control" name="carteira" id="carteira">
            </div>
            <div class="mb-3">
              <label for="negociador" class="form-label">Negociador(a)</label>
              <input th:field="*{negociador}" type="text" class="form-control" name="negociador" id="negociador">
            </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/pessoa/listar" class="btn btn-secondary">Voltar</a>
          </form>

    
        
    </div>
  </body>
</html>