<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout :: layout">

<head>
    <title>Listagem de Pessoas</title>

</head>

<body>
    <div th:fragment="content" class="container">
        <div class="mb-3">
            <h3 class="card-title">Listagem de Pessoas <span th:text="${qtd}" ></span></h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Carteira</th>
                    <th>Negociador</th>
                </tr>
                <tr th:each="pessoa : ${pessoas}">
                    <td th:text="${pessoa.id}"></td>
                    <td th:text="${pessoa.carteira}"></td>
                    <td th:text="${pessoa.negociador}"></td>
                    <td>Ações</td>
                </tr>
            </table>

        </div>
    </div>

</body>

</html>